@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

/*mobile view*/
/*enter here*/

/*structural styles*/
body {
    background-color: #050514;
}

/*navbar styling*/
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

nav ul {
    margin: 0;
    padding: 1rem;
    list-style-type: none;
    display: flex;
}

nav ul li {
    padding-right: 2rem; 
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
    color: #000000;
}

/*link animation adjusted from 30 seconds of code*/

.link-animation {
    display: inline-block;
    position: relative;
  }
  
  .link-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: center;
    transition: transform 0.25s ease-out;
  }
  
  .link-animation:hover::after {
    transform: scaleX(1);
    transform-origin: center;
  }

/*main styling*/
h1 {
    font-size: 10ch;
}

h1, h2, h3 {
    font-family: 'Jost', sans-serif;
}

p {
    font-family:'Courier New', Courier, monospace; 
}


main {
    max-width: 50%;
    margin: auto;
    text-align: justify;
}

main h1 {
    color:#ffffff;
    text-align: center;
}

.container {
    background-color: #ffffff;
    padding: 2rem;
}

/*footer styling*/

footer {
    font-family:'Courier New', Courier, monospace;
    color: #ffffff;
    padding-left: 3.25em;
    position: fixed;
    margin-top: 15px;
    bottom: 0;
}

footer a:link {
    color: #ffffff;
}

footer a:hover {
    font-weight:bolder;
}
/*responsitivity is glitched*/

footer a:visited {
    color: #ffffff;
}

/*research styling*/

main a:hover {
    font-weight: bold;
}

.htwos {
    color:#ffffff;
}

.direct h3 {
    font-size: 5ch;
}

.direct ul {
    list-style-type: none;
}
.direct li a {
    text-decoration: none;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    color: #000000;
}
ul li {
    font-family:'Courier New', Courier, monospace;
    list-style-type: none;
    padding: 2ch;
}


#context {
    color:#ffffff;
}
#how {
    color:#ffffff;
}


/*creator styling*/
.me {
   text-align: center;
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
}

.me img {
    max-width: 300px;
}

